@import 'primereact/resources/themes/lara-light-blue/theme.css' layer(primereact);

@layer tailwind-base, primereact, tailwind-utilities;

/* IMPORTANT: In "styled" mode you must add the PrimeReact Theme here. Do NOT include in "unstyled" mode */

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}
button{
  cursor: pointer;
}
@keyframes animation_appearIn_definition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Apply the animation to the desired element */
.animation__appearIn {
  animation: animation_appearIn_definition 0.5s ease-out forwards;
}